.card {
	margin: 0 auto;

	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	background-color: #fff;
	max-width: 550px;
	border-radius: 2px;
	box-sizing: border-box;
	position: relative;

	.card-title {
		font-size: 1.3rem;
		font-weight: 500;
		padding: 10px 10px 8px 10px;
	}

	.card-body {
		padding: 10px;
	}

	.date-box {
		> div {
			display: inline-block;

			.react-datepicker__input-container {
				input {
					border: 1px solid #c5c5c5;
					border-radius: 2px;
					font-size: 1.1rem;
					padding: 3px 4px;
				}
			}
		}

		label {
			font-size: 1.1rem;
			margin-right: 20px;
			color: #757575;
		}

		.react-datepicker__close-icon::after {
			background-color: #368678;
			opacity: 0.75;
		}

		.react-datepicker__time-box {
			ul.react-datepicker__time-list {
				padding: 0 !important;
			}
		}
	}

	.card-actions {
		display: flex;
		text-transform: uppercase;
		border-top: 1px solid #e7e7e7;

		.action {
			background-color: #fff;
			transition: background-color 0.3s ease;
			padding: 10px 0;
			color: #333;
			font-size: 1.2rem;
			flex: 1;
			text-align: center;
			cursor: pointer;
			border-radius: 2px;
			font-weight: 500;

			&:first-child {
				border-right: 1px solid #e7e7e7;
			}

			&:hover {
				background-color: #e7e7e7;
			}
		}
	}
}
