.header {
	background: linear-gradient(to right, #44a08d, #093637);
	padding: 20px;
	font-weight: 300;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
	z-index: 2;
	font-size: 2rem;
	color: rgba(255, 255, 255, 0.83);
	text-align: center;
}
